docx2txt
email-validator
fastapi
faiss-cpu
Flask-Cors
GitPython
html2text
httptools
httpx-sse
json5
langchain-community
langchain-experimental
langchain-openai
langchain-postgres
langchainhub
langgraph
langserve
nbconvert
pandas
Pillow
pipdeptree
playwright
psycopg2-binary
pydantic-extra-types
pydantic-settings
PySocks
pytest-asyncio
python-jose
python-multipart
rank-bm25
redis
selenium
sse-starlette
structlog
tavily-python
ujson
unstructured
uvloop
watchdog
watchfiles
websockets
wheel
mem0ai